<div class="row">
  <div class="col s12 center-align">
    <span>
      <button class="prev waves-effect waves-teal btn-flat">&larr;</button>
      <%= page %>
      <button class="next waves-effect waves-teal btn-flat">&rarr;</button>
    </span>
  </div>
</div>
